:root {
  --theme-color: #285685;
  --font-color: #1f1f1f;
  --shade1: rgba(242, 38, 19, 0.5);
  --shade2: rgba(0, 255, 255, 0.5);
}

body {
  background-color: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-color);
  margin: 0;
  padding: 0;
  background-image: url("bg.png");  
  background-size: cover;
  display: flex;
  justify-content: center;
}

.carta {
  font-size: 110%;
  margin-top: 10%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 40px;
  background-color: #fbfbfb;
  background-image: url('bg-carta.jpg');
  background-size: cover;
  background-position: center;
  opacity: 1;
  background-color: #ffffffef;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.carta h1 {
  font-size: 1.4em;
  margin-bottom: 20px;
  text-align: center;

}

footer {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
}

footer > a {
  background-color: transparent;
  color: var(--font-color);
  font-weight: bold;
  font-family: "Megrim";
  font-size: 110%;
  text-decoration: none;
  padding: 0px 6px;

  border: 3px solid var(--font-color);
  transition: color 0.5s linear, box-shadow 0.5s ease-in;
}


.contenido p:last-child{
  font-family: Dancing Script;
  font-size: 1.2em;
}

